node_modules/
node_modules/aws-lib
node_modules/winston
node_modules/mongoose
node_modules/url
node_modules/crypto
node_modules/fs
node_modules/request
node_modules/async
node_modules/elasticsearchclient
node_modules/azure
node_modules/bigdecimal
node_modules/bluesky
node_modules/bufferedstream
node_modules/.bin
